<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Package</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 id="homePageText">Add New Package Page </h1>  
    <nav id="navbar" class="navbar">
        <ul>
          <li><a class="home" href="/home" >Home Page</a></li>
        </ul>
      </nav><!-- .navbar -->   
    <br><br>  
    
    <div class="cont">
       

    <form action="/addnewpackage" method="get">
        <input type="text" class="box" name="name" placeholder="Enter Package's Name">
        <input type="number" class="box" name="value" placeholder="Enter Package's value" step="100" min="0">
        <input type="number" class="box" name="duration" placeholder="Enter Package's Duration" min="0">
      <!--<h3 for="birthdate">Enter Member's Birthdate:</h3>-->  
        <br>
        <input type="submit" value="Add Package">
    </form>

    <br><br>
</div>
    

    <script src="static/script.js"></script>
</body>
</html>