<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Member</title>
    <link rel="stylesheet" href="/static/add_member_package.css">
    <link rel="icon" href="static/favicon.ico" >
</head>
<body>
    <h1 id="homePageText">Add Vital Details Page </h1>  
    <nav id="navbar" class="navbar">
        <ul>
          <li><a class="home" href="/home" >Home Page</a></li>
        </ul>
      </nav><!-- .navbar -->   
    <br><br>  
    
    <div class="cont">
       
        <h3 id="errorMsg"></h3>
    <form action="/addVitalDetails" id="add_vital_form" method="get">
        
        <input type="text" class="box" id="vital_fat_prcent" name="bodyFatPercentage" placeholder="Enter Member's bodyFatPercentage">
        <input type="text" class="box" id="vital_disease" name="disease" placeholder="Enter Member's disease">
        <input type="text" class="box" id="vital_medication" name="medications" placeholder="Enter Member's medications">
        <input type="text" class="box" id="vital_allergy" name="allergy" placeholder="Enter Member's allergy">
        <input type="text" class="box" id="vital_fit_goal" name="fitnessGoals" placeholder="Enter Member's fitnessGoals">
        <input type="hidden" name="id" id="memberId" value="&&ID&&">
        <br>
        <input type="submit" value="Add Vital Details">
        
    </form>

    <br><br>
</div>
    

    <script src="static/add_vital_details_script.js"></script>
</body>
</html>