<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Package</title>
    <link rel="stylesheet" href="/static/Css/add_member_package.css">
    <link rel="icon" href="static/favicon.ico" >
</head>
<body>
    <h1 id="homePageText" class="headline">Add New Package Page </h1>  
    <nav id="navbar" class="navbar">
      <a class="home" href="/home" >Home Page</a>
  </nav>
    </nav>  
    <br><br>  
    
    <div class="cont">
       
      <h3 id="errorMsg"></h3>
    <form action="/addnewpackage" id="add-package-form" class="form" method="get">
        <input id="package-name" type="text" class="input box" name="name" placeholder="Enter Package's Name">
        <input id="package-value" type="number" class="input box" name="value" placeholder="Enter Package's value" step="100" min="0">
        <input id="package-duration" type="number" class="input box" name="duration" placeholder="Enter Package's Duration" min="1">
      <!--<h3 for="birthdate">Enter Member's Birthdate:</h3>-->  
        <br>
        <input type="submit" value="Add Package">
    </form>

    <br><br>
</div>
    
<footer>
  <div class="footer-content">
      <p>Developed by: Jehad</p>
      <p>Email: m.jehad.kh@gmail.com</p>
      <p>GitHub: <a href="https://github.com/jehadkh">github.com/jehadkh</a></p>
      <p>LinkedIn: <a href="https://eg.linkedin.com/in/jehadkh">linkedin.com/in/jehadkh</a></p>
  </div>
</footer>
    <script type="module" src="/static/JavaScript/formConstrains.js"></script>
</body>

</html>