<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit trainer</title>
    <link rel="stylesheet" href="/static/Css/home_style.css">
    <link rel="icon" href="static/favicon.ico" >
</head>
<body>
  <div id="fixed_head">
    <h1 >Home Page </h1>
    <nav id="navbar" class="navbar">
    
        <ul>
          <li><a class="" href="newmember">Add New Member</a></li>
          <li><a class="" href="/home">View All Members</a></li>
          <li><a class="" href="/newpacakge">Add New Package</a></li>
          <li><a class="" href="#packages">View All Packages</a></li>
        </ul>
      </nav><!-- .navbar -->  
  </div>
    
    <div class="cont" >
      <form action="/search" method="get" >
        <input type="text" class="" name="search" placeholder="Enter Members's Name or ID" required>
        <br>
        <input type="submit" value="Search">
        <br><br>
        <hr>
    </form>
    
        <div id="members">
          <h1>Member's Section</h1>
            <table class="members_table">
                <thead>
                  <tr>
                    <th>ID
                    <th>Name
                    <th>Age
          <!--      <th>Height  
                    <th>Weight  
                    <th>Gender -->
                    <th>Mobile
             <!--      <th>Email 
                    <th>BMR-->
                    <th>package
                    <th>Start Date
                    <th>End Date
                    <th>Delete
                    <th>Edit
                    <th>Profile 
                      
                </thead>
                <tbody>
                    $$MEMBERS$$
                </tbody>
              </table>

        </div>
        <br>
        <br>
        <br>
        <br>
        <div id="packages">
          <h1>packages's Section</h1>
          <table class="members_table">
              <thead>
                <tr>
                  <th>ID
                  <th>Name
                  <th>Vlaue
                  <th>Duration 
                  <th>Delete 
              </thead>
              <tbody>
                  $$PACKAGES$$
              </tbody>
            </table>

      </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>
<footer>
  <div class="footer-content">
      <p>Developed by: Jehad</p>
      <p>Email: m.jehad.kh@gmail.com</p>
      <p>GitHub: <a href="https://github.com/jehadkh">github.com/jehadkh</a></p>
      <p>LinkedIn: <a href="https://eg.linkedin.com/in/jehadkh">linkedin.com/in/jehadkh</a></p>
  </div>
</footer>
</html>