<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fancy Login Page</title>
    <link rel="stylesheet" href="static/login_style.css">
</head>
<body>
    <div class="login-container">
        <h1 id="messaage">Welcome back, Coach!</h1>
        <form id="loginForm">
            <input type="text" placeholder="Username" id="text_filed">
            <button type="button" id="loginbtn" onclick="submitForm()">Login</button>
        </form>
    </div>

    <script src="static/login_script.js"></script>
</body>
</html>
