<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/static/Css/login_style.css">
    <link rel="stylesheet" href="/static/Css/general_style.css">
    <link rel="icon" href="static/favicon.ico" >
</head>
<body>
    <div class="login-container">
        <h1 id="messaage">Welcome Coach!</h1>
        <form id="loginForm">
            <input type="text" placeholder="Username" id="text_filed">
            <button type="button" id="loginbtn" >Login</button>
        </form>
    </div>

    <script src="/static/JavaScript/login_script.js"></script>
</body>
<footer>
    <div class="footer-content">
        <p>Developed by: Jehad</p>
        <p>Email: m.jehad.kh@gmail.com</p>
        <p>GitHub: <a href="https://github.com/jehadkh">github.com/jehadkh</a></p>
        <p>LinkedIn: <a href="https://eg.linkedin.com/in/jehadkh">linkedin.com/in/jehadkh</a></p>
    </div>
  </footer>
</html>
