<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Profile</title>
    <link rel="stylesheet" href="/static/Css/profile_style.css">
    <link rel="stylesheet" href="/static/Css/general_style.css">
    <link rel="icon" href="static/favicon.ico" >
</head>
<body>
    <div id="fixed_head">
        <h1>{{member.name}}</h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="" href="newmember">Add New Member</a></li>
                <li><a class="" href="/home">View All Members</a></li>
                <li><a class="" href="#add-workout">Add Workout/ Nutrition</a></li>
                <li><a class="" href="#program">Workout Program</a></li>
                <li><a class="" href="#view_plan">Nutrition Plan </a></li>
                
            </ul>
        </nav><!-- .navbar -->
    </div>

    <div class="cont">
        <div class="members_info">
            <h2>Member's Info</h2>
            <div class="profile">
                <div class="profile-details">
                    <input type="hidden" name="member_id" id="memberId" value="{{ member.id }}">
                    <p class='member_info'><strong>ID: </strong>{{ member.id }}</p>
                    <p class='member_info'><strong>Name: </strong>{{ member.name }}</p>
                    <p class='member_info'><strong>Age: </strong>{{ member.calculate_age() }}</p>
                    <p class='member_info'><strong>Email: </strong>{{ member.email }}</p>
                    <p class='member_info'><strong>Phone: </strong>{{ member.phone }}</p>
                    <p class='member_info'><strong>Gender: </strong>{{ member.gender }}</p>
                    <p class='member_info'><strong>Weight: </strong>{{ member.weight }}</p>
                    <p class='member_info'><strong>Height: </strong>{{ member.height }}</p>
               
                </div>
            </div>
         </div>
        <div class="members_info">        
            <h2>Vital Details</h2>
           
            <div class="profile-details">
                <div class="vital-info">
                <p class='member_info'><strong>BMR: </strong>{{ member.calculate_bmr() }} kcal/day</p>
                <p class='member_info'><strong>Allergy: </strong>{{ vitaDetails.allergy }}</p>
                <p class='member_info'><strong>Disease: </strong>{{ vitaDetails.disease }}</p>
                <p class='member_info'><strong>Medications: </strong>{{ vitaDetails.medications }}</p>
                <p class='member_info'><strong>Fitness Goals: </strong>{{ vitaDetails.fitnessGoals }}</p>
                <p class='member_info'><strong>Body Fat Percentage: </strong>{{ vitaDetails.bodyFatPercentage }}%</p>
                </div>
              </div>
        </div>
        <div class="members_info"> 
            
            <h2>Package Details</h2>
           
            <div class="profile-details">
                <div class="package-info">
                    <p class='member_info' id="package_name"><strong>Package Name: </strong>{{ subscription_data.name }}</p>
                    <p class='member_info' id="package_start_date"><strong>Package Start Date: </strong>{{ subscription_data.startDate }}</p>
                    <p class='member_info' id="package_end_date"><strong>Package End Date: </strong>{{ subscription_data.endDate }}</p>
                    
                    <br>
                    <strong><label for="packageDropdown">Select a Package:</label></strong>
                    
                    <form id="subscribe-form" method="POST" action="/subscribe">
                        <input type="hidden" name="member_id" value="{{ member.id }}">
                        <select id="packageDropdown" name="package_id">  
                                <option value="" disabled selected>Choose Package</option>  
                            {% for package in packages %}
                                <option value="{{ package.package_id }}">{{ package.name  }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Subscribe</button>
                        <h3 id="choose-package" >Choose Package First</h3>
                    </form>
                </div>
            <!-- this div will be used only for navigation-->
            <div  id="add-workout"></div>
            </div>
             
        </div>

    

        
        <div class="workout-info" >
            
            <div  class="workout-form">
                <h1 >Workout Program  / Nutrition Plan </h1>
                <br>
                <button id="btn">Show Tables</button>
                <br><br><br>
                <div  class="table_btns" >
                    <button id="btn1">Show Day 1</button>
                    <button id="btn2">Show Day 2</button>
                    <button id="btn3">Show Day 3</button>
                    <button id="btn4">Show Day 4</button>
                    <button id="btn5">Show Day 5</button>
                </div>
               
                <form method="POST" action="/add_workout">
                    <input type="hidden" name="member_id" value="{{ member.id }}">
                    <div class="table-containter">
                    <table class="excel-table">
                        <thead >
                            <tr>
                                <th>Day</th>
                                <th>Exercise</th>
                                <th>Sets</th>
                                <th>Reps</th>
                                <th>Video Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Day 1 -->
                            <tr class="row1">
                                <td rowspan="3" class="day1">Day 1</td>
                                <td><input type="text" class="day1" name="exercise_day1_1"></td>
                                <td><input type="text" class="day1" name="sets_day1_1"></td>
                                <td><input type="text" class="day1" name="reps_day1_1"></td>
                                <td><input type="text" class="day1" name="video_link_day1_1"></td>
                            </tr>
                            <tr class="row1">
                                <td><input type="text" class="day1" name="exercise_day1_2"></td>
                                <td><input type="text" class="day1" name="sets_day1_2"></td>
                                <td><input type="text"class="day1" name="reps_day1_2"></td>
                                <td><input type="text"class="day1"  name="video_link_day1_2"></td>
                            </tr >
                            <tr class="row1">
                                <td><input type="text" class="day1" name="exercise_day1_3"></td>
                                <td><input type="text" class="day1" name="sets_day1_3"></td>
                                <td><input type="text" class="day1" name="reps_day1_3"></td>
                                <td><input type="text" class="day1" name="video_link_day1_3"></td>
                            </tr>
                            <!-- Day 2 -->
                            <tr class="row2">
                                <td rowspan="3">Day 2</td>
                                <td><input type="text" class="day2" name="exercise_day2_1"></td>
                                <td><input type="text" class="day2" name="sets_day2_1"></td>
                                <td><input type="text" class="day2" name="reps_day2_1"></td>
                                <td><input type="text" class="day2" name="video_link_day2_1"></td>
                            </tr>
                            <tr class="row2">
                                <td><input type="text" class="day2" name="exercise_day2_2"></td>
                                <td><input type="text" class="day2" name="sets_day2_2"></td>
                                <td><input type="text" class="day2" name="reps_day2_2"></td>
                                <td><input type="text" class="day2" name="video_link_day2_2"></td>
                            </tr>
                            <tr class="row2">
                                <td><input type="text" class="day2" name="exercise_day2_3"></td>
                                <td><input type="text" class="day2" name="sets_day2_3"></td>
                                <td><input type="text" class="day2" name="reps_day2_3"></td>
                                <td><input type="text" class="day2" name="video_link_day2_3"></td>
                            </tr class="row2">
                            <tr class="row3">
                                <td rowspan="3">Day 3</td>
                                <td><input type="text" class="day3" name="exercise_day3_1"></td>
                                <td><input type="text" class="day3" name="sets_day3_1"></td>
                                <td><input type="text" class="day3" name="reps_day3_1"></td>
                                <td><input type="text" class="day3" name="video_link_day3_1"></td>
                            </tr>
                            <tr class="row3">
                                <td><input type="text" class="day3" name="exercise_day3_2"></td>
                                <td><input type="text" class="day3" name="sets_day3_2"></td>
                                <td><input type="text" class="day3" name="reps_day3_2"></td>
                                <td><input type="text" class="day3" name="video_link_day3_2"></td>
                            </tr>
                            <tr class="row3">
                                <td><input type="text" class="day3" name="exercise_day3_3"></td>
                                <td><input type="text" class="day3" name="sets_day3_3"></td>
                                <td><input type="text" class="day3" name="reps_day3_3"></td>
                                <td><input type="text" class="day3" name="video_link_day3_3"></td>
                            </tr class="row3">
                            <!-- ... -->
                            <!-- Day 4 -->
                            <tr class="row4">
                                <td rowspan="3">Day 4</td>
                                <td><input type="text" class="day4" name="exercise_day4_1"></td>
                                <td><input type="text" class="day4" name="sets_day4_1"></td>
                                <td><input type="text" class="day4" name="reps_day4_1"></td>
                                <td><input type="text" class="day4" name="video_link_day4_1"></td>
                            </tr>
                            <tr class="row4">
                                <td><input type="text" class="day4" name="exercise_day4_2"></td>
                                <td><input type="text" class="day4" name="sets_day4_2"></td>
                                <td><input type="text" class="day4" name="reps_day4_2"></td>
                                <td><input type="text" class="day4" name="video_link_day4_2"></td>
                            </tr>
                            <tr class="row4">
                                <td><input type="text" class="day4" name="exercise_day4_3"></td>
                                <td><input type="text" class="day4" name="sets_day4_3"></td>
                                <td><input type="text" class="day4" name="reps_day4_3"></td>
                                <td><input type="text" class="day4" name="video_link_day4_3"></td>
                            </tr>
                            <!-- Day 5 -->
                            <tr class="row5">
                                <td rowspan="3">Day 5</td>
                                <td><input type="text" class="day5" name="exercise_day5_1"></td>
                                <td><input type="text" class="day5" name="sets_day5_1"></td>
                                <td><input type="text" class="day5" name="reps_day5_1"></td>
                                <td><input type="text" class="day5" name="video_link_day5_1"></td>
                            </tr>
                            <tr class="row5">
                                <td><input type="text" class="day5" name="exercise_day5_2"></td>
                                <td><input type="text" class="day5" name="sets_day5_2"></td>
                                <td><input type="text" class="day5" name="reps_day5_2"></td>
                                <td><input type="text" class="day5" name="video_link_day5_2"></td>
                            </tr>
                            <tr class="row5">
                                <td><input type="text" class="day5" name="exercise_day5_3"></td>
                                <td><input type="text" class="day5" name="sets_day5_3"></td>
                                <td><input type="text" class="day5" name="reps_day5_3"></td>
                                <td><input type="text" class="day5" name="video_link_day5_3"></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                    <button type="submit" class="workoutbtn" id="workoutbtn" >Add Workout</button>
                </form>
                
                <br><br><br>
                <div  class="table_btns">
                    <button id="plan_btn1">Show Day 1</button>
                    <button id="plan_btn2">Show Day 2</button>
                    <button id="plan_btn3">Show Day 3</button>
                    <button id="plan_btn4">Show Day 4</button>
                    <button id="plan_btn5">Show Day 5</button>
                </div>

                <form method="POST" action="/add_nutrition_plan">
                    <input type="hidden" name="member_id" value="{{ member.id }}">
                    <div class="table-containter">
                    <table class="excel-table">
                        <thead >
                            <tr>
                                <th>Day</th>
                                <th>Meal</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Day 1 -->
                            <tr class="row1_plan">
                                <td rowspan="3" class="day1">Day 1</td>
                                <td><input type="text" class="day1" name="meal1_1"></td>
                                <td><input type="text" class="day1" name="quantity1_1"></td>
                            </tr>
                            <tr class="row1_plan">
                                <td><input type="text" class="day1" name="meal1_2"></td>
                                <td><input type="text" class="day1" name="quantity1_2"></td>
                            </tr >
                            <tr class="row1_plan">
                                <td><input type="text" class="day1" name="meal1_3"></td>
                                <td><input type="text" class="day1" name="quantity1_3"></td>
                            </tr>
                            <!-- Day 2 -->
                            <tr class="row2_plan">
                                <td rowspan="3">Day 2</td>
                                <td><input type="text" class="day2" name="meal2_1"></td>
                                <td><input type="text" class="day2" name="quantity2_1"></td>
                            </tr>
                            <tr class="row2_plan">
                                <td><input type="text" class="day2" name="meal2_2"></td>
                                <td><input type="text" class="day2" name="quantity2_2"></td>                            
                            </tr>
                            <tr class="row2_plan">
                                <td><input type="text" class="day2" name="meal2_3"></td>
                                <td><input type="text" class="day2" name="quantity2_3"></td>
                            </tr>
                            <tr class="row3_plan">
                                <td rowspan="3">Day 3</td>
                                <td><input type="text" class="day3" name="meal3_1"></td>
                                <td><input type="text" class="day3" name="quantity3_1"></td>
                            </tr>
                            <tr class="row3_plan">
                                <td><input type="text" class="day3" name="meal3_2"></td>
                                <td><input type="text" class="day3" name="quantity3_2"></td>
                            </tr>
                            <tr class="row3_plan">
                                <td><input type="text" class="day3" name="meal3_3"></td>
                                <td><input type="text" class="day3" name="quantity3_3"></td>
                            </tr class="row3">
                            <!-- ... -->
                            <!-- Day 4 -->
                            <tr class="row4_plan">
                                <td rowspan="3">Day 4</td>
                                <td><input type="text" class="day4" name="meal4_1"></td>
                                <td><input type="text" class="day4" name="quantity4_1"></td>
                            </tr>
                            <tr class="row4_plan">
                                <td><input type="text" class="day4" name="meal4_2"></td>
                                <td><input type="text" class="day4" name="quantity4_2"></td>
                            </tr>
                            <tr class="row4_plan">
                                <td><input type="text" class="day4" name="meal4_3"></td>
                                <td><input type="text" class="day4" name="quantity4_3"></td>
                            </tr>
                            <!-- Day 5 -->
                            <tr class="row5_plan">
                                <td rowspan="3">Day 5</td>
                                <td><input type="text" class="day5" name="meal5_1"></td>
                                <td><input type="text" class="day5" name="quantity5_1"></td>
                            </tr>
                            <tr class="row5_plan">
                                <td><input type="text" class="day5" name="meal5_2"></td>
                                <td><input type="text" class="day5" name="quantity5_2"></td>
                            </tr>
                            <tr class="row5_plan">
                                <td><input type="text" class="day5" name="meal5_3"></td>
                                <td><input type="text" class="day5" name="quantity5_3"></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                    <button type="submit" class="workoutbtn" id="plan_btn" >Add Plan</button>
                </form>

                
            </div>
        </div>  
        
      
    </div>
    <div ></div>
    <br id="view_workout"><br><br>
                <div class="workout-nutrition"  >
                     
                    <div class="view-workout-form" id="program">
                        <h1>Workout Program</h1>
                        <!-- Display the workout file content  -->
                        <pre id="workoutContent">{{ workout_file_content}}</pre>
                        <div class="print_btn_container">
                            <button  id="print_workoutbtn" class="print_btn" >print workout Program</button>
                        </div>
                    </div>
                   
                    <div class="view-plan-form" id="view_plan">
                        <h1>Nutrition Plan</h1>
                        <!-- Display the workout file content  -->
                        <pre id="nutritionContent">{{ nutrition_file_content }}</pre>
                       <div class="print_btn_container">
                        <button  id="print_nutrition" class="print_btn">print Nutrition plan</button>
                       </div> 
                        
                    
                    </div>
                    
                </div>
    <br><br><br>

    <div id="popUp" class="popUp">
        <div class="popUp-content">
          <h2>Are You Sure</h2>
          <p>Remaining Months: <span id="remainingMonths"></span></p>
          <p>Remaining Days: <span id="remainingDays"></span></p>
          
          <form method="POST" action="/resubscribe">
            <input type="hidden" name="member_id"  value="{{member.id}}">
            <input type="hidden" id="selected_package" name="package_id" value="">
            <button type="submit" class="submitBtn">Submit</button>
            <button type="button" id="close-popup" class="submitBtn">Close</button>
          </form>

          
        </div>
   </div>
    <script src="/static/JavaScript/profile_script.js"></script>
    <script src="/static/JavaScript/table_pprofile_scipt.js"></script>
    <script src="/static/JavaScript/pop_up_profile_script.js"></script>
</body>
</html>
