#members{
  max-height: 450px; /* Adjusting the maximum height of the table*/
  overflow-y: auto;
  margin-bottom: 50px;
}

.members_table {
  width: 100%;
  border-collapse: collapse;
}

.members_table th, .members_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.members_table th {
  background-color: #f2f2f2;
}
.mob {
  display: block;
}

.members_table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


.delete{
  color: red;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out ;
}
.profile{
  color: green;
  text-decoration: none;
  border-radius: 5px;
  transition:  0.3s ease-in-out;
}
.profile:hover,.delete:hover {
  color: #ddd;
  background-color: #555;
  padding: 6px;
  margin-left: 3px;
  margin-right: -20px;
}

.cont form {
  text-align: center;
}

.cont form input[type="text"]{
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.cont form input[type="submit"] {
  background-color: #333;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  width: 18%;
  transition: background-color 0.3s ease-in-out;
  font-size: 19px;
  border-radius: 5px; /* Adding border-radius for rounded edges */
  margin-top: 10px;
}

.cont form input[type="submit"]:hover {
  background-color: #555;
}
#packages{
  margin-bottom: 60px;
}

  
@media screen and (max-width: 1250px) {

#members{
  max-height: 300px; /* Adjusting the maximum height of the table*/
  overflow-y: auto;
  margin-bottom: 20px;
}

.members_table {
  width: 100%;
  border-collapse: collapse;
}

.mob {
  display: none;
}
.profile:hover,.delete:hover {
  padding: 2px;
}
.cont form input[type="text"]{
  width: 100%;
  font-size: 13px;
}

.cont form input[type="submit"] {
  width: 30%;
}
#packages{
  margin-bottom: 5px;
}
footer {
  padding: 10px;
  margin-top: 10px;
}
.footer-content {
  font-size: 15px;
}
}