

  #homePageText{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #333;
    text-align: center;
  }


/* Style for form input and submit button */
.box {
  width: 50%; /* Make input field take full width */
  padding: 10px; /* Add padding */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  font-size: 17px;
  border-radius: 7px; /* Adding border-radius for rounded edges */
}
input[type="submit"] {
  padding: 9px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 19px;
  border-radius: 5px; /* Adding border-radius for rounded edges */
  width: 200px;
  margin-top: 27px;
  margin-left: 200px;
}
.all-elements {
  margin-left: 450px; /* This will center the body horizontally */
  margin-top: 80px;
  background-color: antiquewhite;
  border-radius: 20px;
  width: 700px;
  height: auto;
}
.return{
  display: block;
  text-align: center;
  color: #008CBA; /* Anchor link color */
  text-decoration: none;
  font-size: 30px;
 
}