/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #333;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  text-align: center;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}

.navbar ul li a:hover {
  background-color: #555;
}

.cont {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.members_table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.members_table th, .members_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.members_table th {
  background-color: #f2f2f2;
}

.members_table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.members_table tbody tr:hover {
  background-color: #f2f2f2;
}
.delete{
  color: red;
  text-decoration: none;
}

.cont form {
  text-align: center;
  margin-top: 20px;
}

.cont form li {
  list-style: none;
  margin: 10px 0;
}
.cont form input[type="text"],
.cont form input[type="submit"] {
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.cont form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  width: 20%;
  transition: background-color 0.3s ease-in-out;
}

.cont form input[type="submit"]:hover {
  background-color: #555;
}
.profile-details{
  font-size: 20px;
}
.member_info{
  
}